@font-face {
  font-family:"Bangla MN" ;
  src: url(/assets/fonts/Bangla\ MN.ttf) format(truetype);
}

@font-face {
  font-family: "Sedan";
  src: url(/assets/fonts/Sedan-Regular.ttf) format(truetype);
}

html{
  box-sizing: border-box;
  
  }
  
  *,*:before,*after {
      box-sizing: inherit;
  }
  
  html,body{
      height: 100%;
  }

:root{
  --primary-light:#DECBA8;
  --primary-dark: #A26E4A;
  --secondary-light:#C5A484;
  --color-white: #FFFFFF;
  --accent-red:#70322E;
  --background-color:#A26E4A;

  --title-font:'Bangla MN', sans-serif;
  --main-font:'Sedan', sans-serif;

  --step--2: clamp(0.6075rem, 0.4849rem + 0.613vw, 0.96rem);
  --step--1: clamp(0.7294rem, 0.5657rem + 0.8185vw, 1.2rem);
  --step-0: clamp(0.875rem, 0.6576rem + 1.087vw, 1.5rem);
  --step-1: clamp(1.05rem, 0.763rem + 1.4348vw, 1.875rem);
  --step-2: clamp(1.26rem, 0.883rem + 1.8848vw, 2.3438rem);
  --step-3: clamp(1.5119rem, 1.0186rem + 2.4663vw, 2.93rem);
  --step-4: clamp(1.8144rem, 1.1718rem + 3.213vw, 3.6619rem);
  --step-5: clamp(2.1775rem, 1.3427rem + 4.1739vw, 4.5775rem);


}
body{
  background-color: var(--primary-light);
  font-family: var(--main-font);
  
  
}

.container{
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}




/*header content*/
.header__content {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 5% 15% 70%;
}

.header__content h1 {
  z-index: 2;
  grid-row: 1;
  grid-column: 1/4;
  color: var(--primary-light);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: var(--step-4);
  margin: 3vw;
  margin-top: 5vh;
}

.header__content h2 {
  z-index: 2;
  grid-row: 2/3;
  grid-column: 2/4;

  font-size: var(--step-2);
  color: var(--secondary-light);

  margin-top: 5vh;
  margin-left: 2vw;
}


.header__img {
  grid-row: 1/7;
  grid-column: 1/4;

  height: 100%; 
  width: 100%; 
  object-fit: cover;
}

/*texture*/
main{
  background-image:url("/assets/img/texture.png") ;
  background-repeat: repeat;
}

/*intro*/

.intro{
  display:flex;
  flex-direction: column;
  align-items: center;

  margin-top:-60vw;

  max-width: 100vw;
}

.intro__img{
  width: 400px;
  height: 400px;
  z-index: 3;
}

.intro__text{
  background-color: var(--color-white);

  margin: 10vw;
  margin-top: -10rem;
  padding: 20vw 7vw 15vw 7vw;
  border-radius: 10vw;
  line-height: 1.2rem;
  
}


.audio-player{
  margin-top: -10vh;
}


audio {
  display: none;
}

.play-button {
  background-color: var(--color-white); 
  color: #ffffff; 
  border: 2px solid var(--accent-red) ;
  padding: 20px;
  border-radius: 50%;
}

/*give that man a medal*/

.medal{
  margin-top: 2rem;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;

  margin: 1rem;
  font-size: var(--step-0);
  line-height: 1.2rem;
}

.medal__title{
  font-family: var(--title-font);
  font-weight: 900;
  font-size: var(--step-4);
  color: #70322E;
  line-height: 2.5rem;

  width: 55vw;
  margin-bottom: 1em;

  grid-row: 1;
  grid-column: 1;
}

.medal__img{
  grid-row: 1/3;
  grid-column: 1/3;
  

  margin-left: 2em;
  margin-top: 5em;
 
}

.medal__text{
  grid-row: 2;
  grid-column: 1/3;

  margin-left: 1.5em;
  margin-top: -1.5em;

 

  width:50vw;
}

/* Default styles for larger screens */
.medal article {
  grid-column: 1/3;
  grid-row: 3;
  grid-template-rows: 1fr 1fr;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.medal article p {
  background-color: var(--accent-red);
  color: var(--primary-light);
  padding: 2rem;
  border-radius: 5vw;
  margin-top: -1rem;
  height: 8vh;
}

.medal article h3 {
  font-family: var(--title-font);
  font-size: var(--step-5);
  font-weight: 900;
  color: var(--color-white);
  margin-right: 20vw;
  z-index: 5;
}

.medal__button {
  margin-top: -1.5rem; 
}


.train__interaction{
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
}

.tree__background{
  grid-column: 1/5;
  grid-row: 1;
}

.train{
grid-column: 1/3;
grid-row: 1;

z-index: 5;

margin-left: 20vw;
margin-top: -2rem;
}

.stones{
  grid-row: 1;
  grid-column: 1;

  width: 40vw;
  height: 40vw;
}

/*ommeleets*/

.omelettes{
  max-width: 100vw;
  margin-top: -5vh;


  font-size: var(--step-0);
  line-height: 1.2rem;

  background-color: var(--background-color);
  background-image:url("/assets/img/texture.png") ;
  background-repeat: repeat;


  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  grid-template-rows:25vh 13% 17% 10% 13% 15% 10%;
}

.omelettes__netherlands {
  grid-row: 1;
  grid-column: 3;
  width: 50vw;
  margin-left: -35vw;
}

.omelettes__leopold {
  grid-row: 3;
  grid-column:1;

  width: 50vw;

  margin-top: -20%;

  
}

.omelettes__1p{
  grid-row: 2;
  grid-column: 2;
}

.omelettes__qoutes{
  grid-row: 3;
  grid-column: 2;
  margin-left: 2rem;

  font-size: var(--step-2);
  font-family: var(--title-font);
  font-weight: 900;
  color: var(--primary-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.omelettes__2p{
  grid-row: 4;
  grid-column: 2;
}

.omelettes__end{
  grid-row: 6;
  grid-column: 2;
}

.omelettes__3p{
  grid-row: 5;
  grid-column: 2;

 margin-top: 2vh;

  background-color: var(--accent-red);
  color: var(--primary-light);
  padding: 2rem;
  border-radius: 5vw;
  margin-left: -2rem;
  height: 8vh;
  width:70vw;
  display: flex;
  align-items: center;
}

.omelettes__button{
  grid-row: 5;
  grid-column: 2;

  z-index: 5;

  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.omelettes__end{
  grid-row: 7;
  grid-column: 2;

  padding-top: 10vh;
  padding-bottom: 40vh;
}

.omelettes__interaction{
  grid-row: 6;
  grid-column: 2;

  background-color: var(--accent-red);
  color: var(--primary-light);
  padding: 2rem;
  border-radius: 5vw;
  margin-left: -2rem;
  width:70vw;

  display: flex;
}

.omelettes__interaction img{
  margin-left: -2rem;
  padding-right: 2rem;
}

/*let's roll*/
.roll{
  display: flex;
  flex-flow: column;

  margin-top: -22vh;

  max-width: 100vw;

  line-height: 1.2rem;

  

}
.roll__train img{
  margin-left: 20vw;
}

.roll h2{
  font-size: var(--step-4);
  color: var(--accent-red);

  font-weight: 900;
  margin-left: 5vw;
  margin-bottom: 4vh;
}

.roll__intro{
  margin-inline: 10vw;
  margin-bottom: 4vh;
}

.roll__trees{
  display: grid;
  grid-template-rows:50% 50% ;

  margin-bottom: 3vh;
}
.roll__trees img{
  grid-row: 1/3;
  grid-column: 1;

  margin-left: -4vw;
  margin-top: 3rem;
}
.roll__trees p{
  grid-row: 1;
  grid-column: 1;

  background-color: var(--accent-red);
  color: var(--primary-light);
  padding:15% 10% 20% 10% ;
  border-radius: 5vw;
  height: 10vh;
  width:70vw;
  margin-inline:5vw;
  z-index: 5;
  display: flex;
  align-items: center;

}

.roll__button{
  grid-row: 2;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  
}

.roll__text, .roll__names{
  margin-inline: 15vw;
  margin-bottom: 5vh;
}

.roll__names{
  color: var(--color-white);
}

.own{
  padding-bottom: 10vh;
}

.own__title{
 margin-inline: 25vw;

 font-size: var(--step-4);
 color: var(--accent-red);
 margin-bottom: 4vh;
}

.own__text{
  line-height: 1.2rem;
  background-color: var(--accent-red);
  color: var(--primary-light);
  padding:15% 10% 20% 10% ;
  border-radius: 5vw;
  height: 8vh;
  width:70vw;
  margin-inline:5vw;
  z-index: 5;
  display: flex;
  align-items: center;
}

.own__button{
  display: flex;
  justify-content: center;
  margin-top: -5vh;
  z-index: 5;
}

footer{
  background-image:url("/assets/img/texture.png") ;
  background-repeat: repeat;
  background-color: #70322E;

  height:fit-content;

  padding-top: 10vh;
}

.tickets{
text-decoration: none;
color: var(--accent-red);
padding: 1rem 2rem 1rem 2rem;
font-size: var(--step-2);
border-radius: 20px;
background-color: var(--color-white);

margin-left: 33vw;
}

.address__title{
  color: var(--color-white);
  font-size: var(--step-2);
  margin: 3rem 2rem 0.5rem 3rem;
}

.address__text{
  line-height: 1.2rem;
  color: var(--color-white);
  font-size: var(--step-0);
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.footer__logo{
margin-left: 80vw;
margin-top: 5vh;
margin-bottom: 3vh;
}



/*hamburger-menu*/
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  right: 0;
}

.menu__btn span{
  top: 47%; 
  right: 26%;
}

.menu__btn {
  position: relative;
  background-color: #70322E;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 3vh; 
  right: 5vw; 
  z-index: 2000;
  border: 2px solid white;
  text-align: center; 
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 2rem;
  height: 3px;
  background-color: #FFFFFF;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 40% 10%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 85vw;
  right: -100%;
  z-index: 1500;
  transition: all 0.8s;
}

.menu__train{
  grid-row: 1;
  grid-column: 2;
  margin-left: -3rem;
}

.menu__logo{
  grid-row: 7 ;
  grid-column: 3;

}

.menu{
  grid-row: 2;
  grid-column: 2;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.menu__desk, .desk__train{
  display: none;
}

@media only screen and (min-width: 550px){
  .menu__box{
    width:40vw;
  }

  .header{
    margin-bottom: -10rem;
  }
  
  .intro{
    margin: 0;
    flex-direction: row;

    margin-right: 2rem;

   }

   .intro__text{
    margin:0;
    margin-left: -4rem;
    padding: 2rem 4rem 2rem 4rem;
    max-width: 50%;
   }

   .intro__img{
    margin: -4rem;
   }

   .audio-player{
    margin:0;
    margin-top: 10rem;
    margin-left: -10vw;

   }

   .medal article{
    grid-row: 2;
    grid-column: 1;
    
    padding-bottom: 3rem;
    margin-top: 8rem;
   }

   .medal__button{
    margin: 0;
    margin-left: 18rem;
    margin-top: -3rem;
   }

   .omelettes{
    margin-top: -5rem;
   }

   .omelettes__1p{
    margin-top: 6.5rem;
   }

   .omelettes__2p{
    margin-top: 5rem;
   }

   .omelettes__3p{
    margin-top: 3rem;
   }

   .roll{
    margin-top: -13rem;
   }

   .roll__train{
    margin:0;
    margin-left:40vw;
   }

   .roll__trees p{
    width: 50vw;
    height: 5vh;
    margin:auto;
   }

   .desk__train{
    display: contents;

   }

   .roll__button{
    margin-top: -10rem;
   }

}

/*desktop*/
@media only screen and (min-width: 1020px){
 .hamburger-menu, .footer__logo{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
   
 }

  main{
  margin-left: 5rem;
 }

 
 .menu__desk{
  background-color: var(--color-white);
  display:block;
  height: 100vh;
  position: fixed;
  top: 100vh;
  transform: rotate(-90deg);
  width: 100vh;
  height: 5rem;
  transform-origin: left top;
 }

 .menu__sticky{
  display:flex;
  flex-flow: row-reverse;
  margin-right: 1vh;
 }

 .menu__item{
  margin-left: 3vh;
  margin-top: 4vh;
  font-size: var(--step--2);
  width: 4.5rem;
  z-index: 10;
  color: var(--accent-red
  );
 }

 .menu__train{
  position:relative;
  left:90vh;
  bottom: 92vw;
  transform: rotate(90deg);
  width: 5rem;
 }

 .menu__logo{
  transform: rotate(90deg);
  margin-top:90vw;
 }

 .header__content{
  margin-left: 5rem;
 }

 .header__content h1{
  grid-column: 2/4;
 }

 .header__content h2{
  grid-column: 3;
  margin-left: -5rem;
  margin-top: 4rem;
 }
 

 .intro{
  margin: 20vh;
 }

 .intro__img{
  margin: 0;
  margin-left: -5rem;
 }

 .intro__text{
  max-width:35vw;
  border-radius: 15px;
  font-size: var(--step-0);
  line-height: 2rem;
 }

 .audio-player{
  margin: 0;
  margin-top: 15rem;
  margin-left: -3rem;
  z-index: 3000;
 }

 .medal{
  margin-left: 5rem;
  margin-top: -15vh;
 }

 .medal__title{
 width: 37vw;
 line-height: 7rem;
 font-size: var(--step-5);
 }

 .medal__img{
  margin: 0;
  margin-left: 30vw;
  height: 90vh;
 }
 .medal__text{
  line-height: 2rem;
  width: 40vw;
  margin-top: 3rem;
  
 }

 .medal article{
  margin-top: 30vh;
  line-height: 2rem;
  width: 40vw;
 }

 .medal article p{
  border-radius: 15px;
 }

 .medal__button{
  margin: 0;
  margin-top: -2rem;
  margin-left: 37vw;
 }

 .train__interaction{
  margin-top: -15vh;
 }


 .train{
  margin:0;
  margin-left: 30vw;
  margin-top: 5vh;
 }

 .omelettes{
  margin-top: -20vh;
 }

 .omelettes__1p{
  width: 45vw;
  line-height: 2rem
 }

 .omelettes__2p{
  width: 45vw;
  line-height: 2rem;
  margin-left: 20rem;
  margin-top: -5rem;
 }

 .omelettes__3p{
  width:35vw;

  margin-left: 30vw;
  border-radius: 15px;
  line-height: 2rem;
 }

 .omelettes__button{
  margin: 0;
  margin-left: 65vw;
 }

 .omelettes__interaction{
  margin-top: 8rem;
  width: auto;
  height: 40vh;
  justify-content: space-around;
 }

 .omelettes__end{

  width: 50vw;
  line-height: 2rem;
  margin: auto;
  margin-bottom: -10vh;
  padding: 0;
  

 }
 .roll__train{
  display: none;
 }

 .roll h2{
  margin-top: 5rem;
  font-size: var(--step-5);
 }

 .roll__intro{
  line-height: 2rem;
  font-size: var(--step-0);
  width: 50vw;
  margin-top:2rem;
 }

 .roll__trees p{
  padding: 7rem 5rem 7rem 5rem;
  font-size: var(--step-0);
  line-height: 2rem;
  border-radius: 15px;
  margin: auto;
  width: 35vw;
 }

 .roll__button{
  margin: 0;
  margin-top: -90vh;
  margin-left: 43vw;
 }

 .roll__text{
   width: 50vw;
   margin: auto;

   font-size: var(--step-0);
   line-height: 2rem;

   margin-bottom: 3rem;
 }

 .own{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
 }

 .own__title{
  margin-inline: 35vw;
 }

 .own__text{
  padding: 7rem 5rem 7rem 5rem;
  font-size: var(--step-0);
  line-height: 2rem;
  border-radius: 15px;
  margin: auto;
  width: 35vw;
 }

footer{
  margin-left: 5rem;
  height: 20vh;
  

}

.tickets{
  position: relative;
  margin: 0;
  height: 2rem;
  margin-left: 41.5vw;
  z-index: 8000;
  transition: ease .2s;
}

.tickets:hover{
  background-color: var(--accent-red);
  color: var(--color-white);
}

.address__title{
  margin-top: -5vh;
}

}